.text-center{
    width:200px;
    border-radius: 10px;
    background-color: #EAEAEA;
}
.count{
    border: 3px solid #B983FF;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
 
.btn-1:hover{
    color:black;
}
button{
    border: 0px;
    color: #B983FF;
    padding-top: 10px;
    padding-bottom: 10px;
}
 .suma:hover{
    background-color: #B983FF;
    color: white;
  }

.suma{
    border: 3px solid #B983FF;
    
    border-radius: 10px;
}
p{
    font-size:14px;
}