
.navbar-brand img{
    width: 90px;
    height: 90px;
}
li:hover{
    border-bottom: 2px solid #000;
    
}
a:hover{
 
    color:#B983FF;
    
}

li:hover:first-letter{
    color:#B983FF;
  }

  i{
      font-size: 30px;

  }
  i:hover{
      color:#B983FF;
  }

  h3{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size:30px !important;
  }
  a{
    
      font-size: 18px;
      color: #000 !important;
      font-weight:bold;
  }